body {
    margin: 0;
    padding: 0;
    background-color:#F9F5F6;
    font-family: 'Lato';
}

.NavBar{
    height: 100px ;
    width: 100vw;
    padding: 10px;
    position: sticky 0px;
    background-color: #F8E8EE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}   

.left span{
    font-size: 30px;
    font-weight: bold;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F8E8EE;
    margin-right: 20px;
    object-fit: cover;
    background-color: #F3D7CA;
    border-left: 8px solid #F2BED1;
    border-bottom: 4px solid #F2BED1;
    transition-property: transform;
    transition-duration: 0.5s;       
    transition-timing-function: ease;
}

.title {
    background-color: #F3D7CA;
    color: #E6A4B4;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border-left: 8px solid #F2BED1;
    border-bottom: 4px solid #F2BED1;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
}

.title:active + .logo {
    transform: rotate(360deg);
}

.title:active {
    border: 0px solid transparent;
}

.title:hover {
    background-color: #f5dcd1;
}

.center{
    align-self: flex-end;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    width: 600px;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #F9F5F6;
    margin-bottom: -10px;
}

.center a {
    text-decoration: none;
    color: #E6A4B4;
    padding: 5px;
    font-size: 20px;
    margin-inline: 35px;
}

.center a:hover, .right a:hover {
    color: #E6A4B4;
    background-color: #F8E8EE;
    border-radius: 10px;
    border-bottom: 3px solid #E6A4B4;
}

.center .home {
    color: #E6A4B4;
    background-color: #F8E8EE;
    padding: 5px;
    border-radius: 10px;
    border-bottom: 3px solid #E6A4B4;
}

.right{
    align-self: flex-start;
    display: flex;
    align-items: center;
    background-color: #F9F5F6;
    border-radius: 10px;
    padding: 12px 16px;
}

.right a {
    vertical-align: top;
    text-decoration: none;
    color: #E6A4B4;
    font-size: 20px;
    font-stretch: ultra-expanded;
    margin-inline: 10px;
    padding: 5px;
}

.cart{
    margin-left: 25px;
    width: 50px;
    height: 50px;
}

.welcome {
    width: 100vw;
    height: 300px;
    padding: 20px;
    color: #F9F5F6;
}
