/* Colors */
.peachy-pink-color {
    color: #F3D7CA;
}

.pinkish-white-color {
    color: #F9F5F6;
}

.lightest-pink-color {
    color: #F8E8EE;
}

.light-pink-color {
    color: #FDCEDF;
}

.medium-pink-color {
    color: #F2BED1;
}

.dark-pink-color {
    color: #E6A4B4;
}

/* Backgrounds */
.peachy-pink-back {
    background-color: #F3D7CA;
}

.pinkish-white-back {
    background-color: #F9F5F6;
}

.lightest-pink-back {
    background-color: #F8E8EE;
}

.light-pink-back {
    background-color: #FDCEDF;
}

.medium-pink-back {
    background-color: #F2BED1;
}

.dark-pink-back {
    background-color: #E6A4B4;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    width: 100vw;
}


.NavBar{
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}   

.left span{
    font-size: 30px;
    font-weight: bold;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    border-left: 8px solid #F2BED1;
    border-bottom: 4px solid #F2BED1;
    transition-property: transform;
    transition-duration: 0.5s;       
    transition-timing-function: ease;
}

.title {
    font-size: 30px;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border-left: 8px solid #F2BED1;
    border-bottom: 4px solid #F2BED1;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
}

.title:active + .logo {
    transform: rotate(360deg);
}

.title:active {
    border: 0px solid transparent;
}

.title:hover {
    background-color: #F8F1F1;
}

.center{
    align-self: flex-end;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    width: 600px;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -10px;
}

.center a {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    margin-inline: 35px;
}

.center a:hover, .right a:hover {
    background-color: #F8E8EE;
    border-radius: 10px;
    border-bottom: 3px solid #E6A4B4;
}

.center .home {
    background-color: #F8E8EE;
    padding: 5px;
    border-radius: 10px;
    border-bottom: 3px solid #E6A4B4;
}

.right{
    align-self: flex-start;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 12px 16px;
}

.right a {
    vertical-align: top;
    text-decoration: none;
    font-size: 20px;
    font-stretch: ultra-expanded;
    margin-inline: 10px;
    padding: 5px;
}

.cart{
    margin-left: 25px;
    width: 50px;
    height: 50px;
}

.first-section {
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.welcome {
    width: 800px;
    height: 180px;
    text-align: justify;
    font-size: 20px;
    font-weight: bolder;
}

.logo-2 {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.logo-2 img {
    transform: scale(0.7);
    border-radius: 50%;
}

.second-section {
    height: 500px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    font-size: 40px;
}

.reasons {
    font-size: 20px;
}

.reasons li {
    padding: 10px
}

.third-section {
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.specialty {
    font-size: 40px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    text-align: center;
}

.specialty-cupcakes-container {
    width: 100vw;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.specialty-cupcakes {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.specialty-cupcakes img {
    border-radius: 40px;
}

.specialty-info {
    font-size: 20px;
    font-weight: bolder;
    width: 500px;
    height: 200px;
}

.specialty-info p {
    text-align: justify;
}

.fourth-section {
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 130px;
    font-weight: bolder;
    border-top: 20px solid #F8E8EE;
    border-bottom: 20px solid #F8E8EE;
}

.fifth-section {
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.customers-review {
    width: 400px;
    height: 300px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.customer {
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 5px;
}

.fa, .fa-star {
    font-size: 30px;
}

.checked {
    color: #F3D7CA;
}

.stars {
    display: flex;
    flex-direction: row;
}

.review {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5px;
}

.credits {
    width: 50%;
    height: 100px;
    text-align: center;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


