/* Colors */
.cream-color {
    color: #F5EEE6;
}

.peachy-pink-color {
    color: #F3D7CA;
}

.pinkish-white-color {
    color: #F9F5F6;
}

.lightest-pink-color {
    color: #F8E8EE;
}

.light-pink-color {
    color: #FDCEDF;
}

.medium-pink-color {
    color: #F2BED1;
}

.dark-pink-color {
    color: #E6A4B4;
}

/* Backgrounds */
.cream-back {
    background-color: #F5EEE6;
}

.peachy-pink-back {
    background-color: #F3D7CA;
}

.pinkish-white-back {
    background-color: #F9F5F6;
}

.lightest-pink-back {
    background-color: #F8E8EE;
}

.light-pink-back {
    background-color: #FDCEDF;
}

.medium-pink-back {
    background-color: #F2BED1;
}

.dark-pink-back {
    background-color: #E6A4B4;
}

.bolder {
    font-weight: bolder;
}

.bold {
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    width: 100vw;
    background: repeating-linear-gradient(
        to right,
        #F5EEE6 -1%,  
        #F5EEE6 0%, 
        #F3D7CA 0%, 
        #F3D7CA 1%    
    );
}


.NavBar{
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}   

.left span{
    font-size: 30px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    transition-property: transform;
    transition-duration: 0.5s;       
    transition-timing-function: ease;
}



.title {
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    border: 0px solid transparent;
    transition: transform 0.2s ease-out;
    cursor: pointer;
}

.title:active + .logo {
    transform: rotate(360deg);
}

.title:active {
    background-color: #E6A4B4;
}

.title:hover {
    transform: translateY(-15px);
}

.center{
    align-self: flex-end;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    width: 600px;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -10px;
}

.center a {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    margin-inline: 35px;
}

.center a:hover, .right a:hover{
    background-color: #F8E8EE;
    border-radius: 10px;
}

.current {
    background-color: #F8E8EE;
    padding: 10px;
    border-radius: 10px;
}

.right{
    align-self: flex-start;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 12px 16px;
}

.right a {
    vertical-align: top;
    text-decoration: none;
    font-size: 20px;
    font-stretch: ultra-expanded;
    margin-inline: 10px;
    padding: 5px;
}

.cart{
    margin-left: 25px;
    width: 50px;
    height: 50px;
}


/* Home page */

.first-section {
    height: 450px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.welcome {
    width: 850px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 22px;
    padding: 20px;
    line-height: 1.5;
}

.specify {
    font-size: 40px;
}

.logo-2 {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}

.logo-2 img {
    transform: scale(1);
    border-radius: 50%;
    margin-top: -7%;
}

.order-now {
    font-size: 25px;
    border-radius: 10px;
    background-color: #F2BED1;
    color: #F9F5F6;
    border: transparent;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5%;
    animation-name: pulse;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}


.second-section {
    height: 500px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 40px solid #F8E8EE;
    border-bottom: 40px solid #F8E8EE;
}

.question {
    font-size: 45px;
}

.reasons {
    font-size: 20px;
}

.reasons b {
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    padding-right: 5px;
}

.reasons li {
    padding: 10px
}

.third-section {
    width: 100vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.specialty {
    font-size: 40px;
    border-radius: 10px;
    padding: 10px;
    padding-inline: 280px;
    text-align: center;
    border-top: 20px solid #E6A4B4;
    border-bottom: 20px solid #E6A4B4;
    border-right: 20px solid #F2BED1;
    border-left: 20px solid #F2BED1;
}

.specialty-cupcakes-container {
    width: 100vw;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.specialty-cupcakes {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.specialty-cupcakes img {
    border-radius: 10px;
}

.specialty-info {
    font-size: 20px;
    width: 500px;
    height: 100px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 15px solid #F2BED1;
    border-right: 15px solid #F2BED1;
    border-top: 15px solid #F9F5F6;
    border-bottom: 15px solid #F9F5F6;
    border-radius: 10px;
}

.specialty-info p {
    text-align: justify;
}

.fourth-section {
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border-top: 15px solid #F8E8EE;
    border-bottom: 15px solid #F8E8EE;
}

.fourth-section span {
    display: inline-block;
    transition: transform 0.2s ease-out;
}

.fourth-section span:hover {
    transform: translateY(-10px);
}

.fifth-section {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.customers-review {
    width: 400px;
    height: 300px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.customer {
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
    margin-bottom: 5px;
}

.fa, .fa-star {
    font-size: 30px;
}

.checked {
    color: #F3D7CA;
}

.stars {
    display: flex;
    flex-direction: row;
}

.review {
    font-size: 18px;
    margin-top: 5px;
}

.h-credit {
    width: 100vw;
    height: 100px;
}

.h-credit div {
    background: repeating-linear-gradient(
        to right,
        #F5EEE6 -2%,  
        #F5EEE6 0%, 
        #F3D7CA 0%, 
        #F3D7CA 2%    
    );
}

.credits {
    width: 50%;
    height: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #f93365;
    line-height: 1.5;
}

.credits a:visited {
    color: #f93365;
}

.instagram {
    width: 40px;
    height: auto;
}

/* End of Home Page */



/* Contact */

.contact-section {
    height: 700px;
    width: 100vw;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly   ;
    align-items: center;
    align-content: center;
}

.contact-content {
    margin-top: 2%;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    line-height: 2;
}

.contact-section span {
    font-size: 20px;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    border-top: 10px solid #E6A4B4;
    border-bottom: 10px solid #E6A4B4;
    border-left: 10px solid #F2BED1;
    border-right: 10px solid #F2BED1;
}

.contact-info {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.operation-hours {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.c-info {
    padding: 15px;
    border-radius: 10px;
    font-size: 17px;
}

.contact-content b{
    color: #F9F5F6;
    background-color: #E6A4B4;
    padding: 5px;
    border-radius: 5px;
}

.c-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-image img {
    border-radius: 10px;
    transform: scale(0.9);
}

.c-image p {
    margin-top: -3%;
}

.c-credits {
    margin-top: 5%;
}

/* End of Contact */



/* Cart */
.cart-container {
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.empty-cart {
    font-size: 40px;
    border-radius: 10px;
    padding: 10px;
    padding-inline: 140px;
    text-align: center;
    border-top: 20px solid #E6A4B4;
    border-bottom: 20px solid #E6A4B4;
    border-right: 20px solid #F2BED1;
    border-left: 20px solid #F2BED1;
}

.cart-container button {
    width: 230px;
    height: 60px;
    font-size: 20px;
    border: 0px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.cart-container button:hover {
    background-color: #F2BED1;
    height: 70px;
    width: 240px;
}

.cart-credit {
    margin-top: 15%;
}
/* End of Cart */



/* About */
.about-section {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.about-section span {
    display: inline-block;
    transition: transform 0.2s ease-out;
}

.about-section span:hover {
    transform: translateY(-20px);
}


.about-contents {
    width: 100vw;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-bottom: 40px solid #F8E8EE;
    border-top: 40px solid #F8E8EE;
}

.about-us {
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.about-mich {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.about-mich img {
    border-radius: 20px;
}

.about-us span, .about-mich span {
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    padding-right: 5px;
}

.about-us p, .about-mich p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
}

/* End of about */



/* Help */
.help-question-section {
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.help-question-section span {
    display: inline-block;
    transition: transform 0.2s ease-out;
}

.help-question-section span:hover {
    transform: translateY(-20px);
}

.ordering-section, 
.delivery-section, 
.ingredients-section, 
.other-section {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 40px solid #F8E8EE;
    border-top: 40px solid #F8E8EE;
}


.delivery-section, 
.ingredients-section, 
.other-section {
    border-top: 0px solid transparent;
}

.ordering-section table, tr, td, th, 
.delivery-section table, tr, td, th, 
.ingredients-section table, tr, td, th, 
.other-section table, tr, td, th   {
    border-radius: 10px;
}

.ordering-section table, 
.delivery-section table, 
.ingredients-section table, 
.other-section table {
    margin-top: -2%;
    width: 1200px;
    line-height: 1.5;
    border-spacing: 10px 15px;
}

.ordering-section th, 
.delivery-section th, 
.ingredients-section th, 
.other-section th {
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
}

.ordering-section td, 
.delivery-section td, 
.ingredients-section td, 
.other-section td {
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
}

.ordering-section td:nth-child(1), 
.delivery-section td:nth-child(1), 
.ingredients-section td:nth-child(1), 
.other-section td:nth-child(1) {
    background-color: #F8E8EE;;
    color: #E6A4B4;
    transition: transform 0.2s ease-out;
}

.ordering-section td:nth-child(1):hover, 
.delivery-section td:nth-child(1):hover, 
.ingredients-section td:nth-child(1):hover, 
.other-section td:nth-child(1):hover {
    transform: translateY(-10px);
}
/* End of help */



/* Delivery */
.delivery-first-section {
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.delivery-first-section span {
    display: inline-block;
    transition: transform 0.2s ease-out;
}

.delivery-first-section span:hover {
    transform: translateY(-20px);
}

.delivery-second-section {
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 40px solid #F8E8EE;
    border-bottom: 40px solid #F8E8EE;
}

.delivery-info-1 {
    font-size: 45px;
    padding: 5px;
    border-radius: 10px;
}

.delivery-info-2 {
    font-size: 20px;
}

.delivery-third-section {
    width: 100vw;
    height: 1600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.delivery-question {
    font-size: 40px;
    border-radius: 10px;
    padding: 10px;
    padding-inline: 280px;
    text-align: center;
    border-top: 20px solid #E6A4B4;
    border-bottom: 20px solid #E6A4B4;
    border-right: 20px solid #F2BED1;
    border-left: 20px solid #F2BED1;
}

.delivery-info-3-container, 
.delivery-info-4-container, 
.delivery-info-5-container {
    font-size: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-left: 15px solid #F2BED1;
    border-right: 15px solid #F2BED1;
    border-top: 15px solid #F9F5F6;
    border-bottom: 15px solid #F9F5F6;
    border-radius: 10px;
}

.delivery-info-3-container span, 
.delivery-info-4-container span, 
.delivery-info-5-container span {
    font-size: 40px;
}

.delivery-3-4-container {
    width: 1400px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.delivery-info-3-container, 
.delivery-info-4-container {
    width: 500px;
    height: 160px;
}

.delivery-info-3-container p, 
.delivery-info-4-container p{
    text-align: justify;
}


.delivery-info-5-container {
    width: 700px;
    height: 800px;
}

.delivery-info-5-container div {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.delivery-info-5-container p {
    background-color: #E6A4B4;
    color: #F9F5F6;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.2s ease-out;
}

.delivery-info-5-container p:hover {
    transform: translateY(-20px);
}

/*End of delivery*/ 


/* Cupcake */
.cupcake-logo-container {
    width: 80%;
    height: 400px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cupcake-logo-container img {
    transform: scale(0.6);
    border-radius: 50%;
}

.cupcake-category {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.category {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.category button {
    padding: 10px;
    background-color: #E6A4B4;
    color: #F9F5F6;
    border-radius: 10px;
    border: transparent;
    font-size: 16px;
    font-weight: bolder;
    transition: transform 0.2s ease-out;
    cursor: pointer;
}

.category button:hover {
    transform: translateY(-10px);
    background-color: #F2BED1;
}

.category button:active {
    transform: translateY(2px);
}

.category span {
    font-size: 16px;
}

.cupcake-sections {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.cupcake-components {
    width: 100vw;
    height: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.types {
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: bolder;
    background-color: #E6A4B4;
    color: #F9F5F6;
    border-top: 20px solid #F8E8EE;
    border-bottom: 20px solid #F8E8EE;
}

.types span {
    display: inline-block;
    transition: transform 0.2s ease-out;
}

.types span:hover {
    transform: translateY(-20px);
}

.cupcake-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F5F6;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 20px;
    padding: 20px;
    border-left: 20px solid #F2BED1;
    border-right: 20px solid #F2BED1;
    border-top: 20px solid #F9F5F6;
    border-bottom: 20px solid #F9F5F6;
    transition: transform 0.2s ease-out;
}

.dozen {
    width: 400px;
}

.cupcake-container:hover {
    transform: translateY(-20px);
}

.cupcake-container span {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: #E6A4B4;
    line-height: 1.5;
}

.small-cupcake-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 250px;
}

.small-cupcake {
    transform: scale(0.25);
}

.cupcake-order {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 180px;
}
    

.cupcake-order input {
    border-radius: 10px;
    background-color: #F9F5F6;
    border: 2px solid #E6A4B4;
    color: #E6A4B4;
    font-weight: bold;
    padding: 5px;
}

.cupcake-order input:hover, 
.cupcake-order input:focus, 
.cupcake-order input:active {
    background-color: #F9F5F6;
    border: 2px solid #E6A4B4; 
    color: #E6A4B4; 
    outline: none; 
    font-weight: bold;
}

.cupcake-order input::placeholder {
    color: #E6A4B4; 
    opacity: 1; 
    font-weight: bold;
}

.cupcake-order button {
    border-radius: 10px;
    background-color: #E6A4B4;
    color: #F9F5F6;
    border: transparent;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.cupcake-order button:hover {
    background-color: #F2BED1;
}

.additional-info {
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.events-and-occasions {
    width: 40%;
    text-align: justify;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    border-left: 20px solid #F2BED1;
    border-right: 20px solid #F2BED1;
    border-top: 20px solid #F9F5F6;
    border-bottom: 20px solid #F9F5F6;
    margin-bottom: 2.5%;
}
/* End of cupcake */



/* Privacy Policy */
.policy {
    margin-inline: auto;
    height: 450px;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
}

.policy span {
    font-size: 30px;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    border-top: 10px solid #E6A4B4;
    border-bottom: 10px solid #E6A4B4;
    border-left: 10px solid #F2BED1;
    border-right: 10px solid #F2BED1;
}

.p-bottom {
    margin-top: 15%;
}
/* End of privacy policy*/